<footer class="container space-top-1">
    <div class="border-bottom">
        <div class="row mb-7">
            <div class="col-sm-12 col-lg-6 mb-7 mb-lg-0">
                <div class="d-flex align-self-start flex-column h-100">
                    <!-- Facebook -->
                    <div class="d-flex align-items-center mb-3 text-center">
                        <iframe
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnewlookconcretetownsville%2F&amp;tabs=timeline&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=368610806884194"
                            width="500px" height="500px" class="embed-responsive-item" scrolling="no" frameborder="0"
                            allowtransparency="true" allow="encrypted-media" class="mt-sm-10 mt-lg-0"></iframe>
                    </div>
                    <!-- End Facebook -->
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 mb-md-0">
                <h4 class="h6 font-weight-semi-bold text-warning">Company</h4>

                <!-- List Group -->
                <ul class="list-group list-group-flush list-group-borderless mb-0">
                    <li><a class="list-group-item list-group-item-action" href="./about.html">About</a></li>
                    <li><a class="list-group-item list-group-item-action" href="./services.html">Services</a></li>
                    <li><a class="list-group-item list-group-item-action" href="./portfolio.html">Portfolio</a></li>
                </ul>
                <!-- End List Group -->
            </div>

            <div class="col-sm-4 col-md-3 col-lg-2 mb-4 mb-md-0">
                <h4 class="h6 font-weight-semi-bold text-warning">Resources</h4>

                <!-- List Group -->
                <ul class="list-group list-group-flush list-group-borderless mb-0">
                    <li><a class="list-group-item list-group-item-action" href="./contact.html">Free Quote</a></li>
                    <li><a class="list-group-item list-group-item-action" href="./contact.html">Question</a></li>
                </ul>
                <!-- End List Group -->
            </div>

            <div class="col-md-3 col-lg-2">
                <h4 class="h6 font-weight-semi-bold text-warning">Contact</h4>

                <!-- Address -->
                <address>
                    <ul class="list-group list-group-flush list-group-borderless mb-0">
                        <li><a class="list-group-item list-group-item-action"
                                href="https://www.google.com/maps/place/82+Allambie+Ln,+Kelso+QLD+4815/@-19.3654899,146.7204584,17z/data=!3m1!4b1!4m5!3m4!1s0x6bd5f01913f9e15d:0x7dbff62000ed4565!8m2!3d-19.365495!4d146.7226471" target="_blank">82 Allambie Lane Kelso <small>(by appointment only)</small></a>
                        </li>
                        <li><a class="list-group-item list-group-item-action" href="tel: 0409 089 580">0409 089
                                580</a></li>
                        <li><a class="list-group-item list-group-item-action"
                                href="mailto:newlookconcrete1@gmail.com">newlookconcrete1@gmail.com</a></li>
                        <!-- <li class="list-group-item">153 Williamson Plaza, Maggieberg, MT 09514</li> -->
                    </ul>
                </address>
                <!-- End Address -->
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center py-7">
        <!-- Copyright -->
        <a href="https://www.ethancannonit.com" target="_blank">
            <p class="small text-muted mb-0 mt-0">Website by Ethan Cannon</p>
        </a>
        <!-- End Copyright -->
    </div>
</footer>